#game-container {
  width: 800px;
  height: 800px;
  margin: 0 auto;
}

#game-board {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
  background-color: black;
  border: 2px black solid;
  width: 100%;
  height: 100%;
}

.square {
  width: 12.5%;
  height: 12.5%;
  border: 1px black solid;
  box-sizing: border-box;
  background-color: white;
}

.square.flash {
  animation: flash 2s forwards linear normal;
}

@keyframes flash {
  0% {
    background: white;
  }
  30% {
    background: #CD5C5C;
  }
  100% {
    background: white;
  }
}

/*
Styling for game pieces
'default' side up is black
*/

.piece {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.piece.white-up {
  transform: rotate3d(-1, -1, 0, 180deg);
}

.piece-black, .piece-white {
  background-color: lightpink;
  width: 80%;
  height: 80%;

  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.piece-black {
  box-sizing: border-box;
  background-color: black;
  border-radius: 80%;
}

.piece-white {
  box-sizing: border-box;
  background-color: white;
  border: 7px solid black;
  border-radius: 80%;

  transform: rotateY(180deg);
}
