#game-container {
  width: 800px;
  height: 800px;
  margin: 0 auto;
}

#game-board {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
  background-color: black;
  border: 2px black solid;
  width: 100%;
  height: 100%;
}

.square {
  width: 12.5%;
  height: 12.5%;
  border: 1px black solid;
  box-sizing: border-box;
  background-color: white;
}

/*
Styling for game pieces
'default' side up is black
*/

.piece {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.piece img {
  width: 80%;
  height: 80%;
}

.piece.white-up {
  transform: rotate3d(-1, -1, 0, 180deg);
}

.piece-black, .piece-white {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.piece-white {
  transform: rotateY(180deg);
}
